- content_for(:not_signed_title) do
  = t('.header')
= simple_form_for @client, url: password_path(params.extract(:confirmation_token)), html:{class: "form-horizontal"} do |f|
  = f.input :password
  = f.input :password_confirmation
  .form-actions
    = f.submit class: 'btn btn-success pull-right'
