%h1= t('.header')
.squiggly-border
= simple_form_for @help, url: help_path, html:{class: "form-horizontal"} do |f|
  = f.input :email
  = f.input :name
  = f.input :subject
  = f.input :message, as: :text
  .control-group
    .controls
      = f.submit class: 'btn btn-success'
