%h1
  = @standard.code_with_name
  = link_to edit_standard_path(id: @standard.link), title: t('.edit_standard') do
    %i.icon-edit
  = link_to pdf_standard_path(id: @standard.link, format: :pdf), title: t('.download_pdf'), target: '_blank' do
    %i.icon-download-alt
%p= object_state_label @standard
.squiggly-border
- if @parent
  %h4
    = "#{t('.parent')}: "
    = link_to @parent.code_with_name, standard_path(id: @parent.link)
%h3= t('.content')
%p.lead= raw @standard.corrected_content
- if @children.any?
  .span6
    %h4= "#{t('.children')}:"
    - @children.each do |child|
      %h5= link_to child.code_with_name, standard_path(id: child.link)
