- content_for(:not_signed_title) do
  = t('.header')

= simple_form_for @session, url: session_path, html: {class: 'form-horizontal'} do |f|
  / TODO через инпуты симпл форма
  / .input-prepend
  /   %span.add-on
  /     %i.radmin-icon.radmin-user
  /   = f.input_field :email, class: 'input-large'
  / .input-prepend
  /   %span.add-on
  /     %i.radmin-icon.radmin-locked
  /   = f.input_field :password, class: 'input-large'
  = f.input :email
  = f.input :password
  .form-actions
    = link_to t(".new_user"), new_client_path, class: 'btn-link pull-left'
    = f.submit class: "btn btn-large btn-inverse pull-right"
