%h3= t('.header')
%h1
  = @public_standard.name
  = link_to copy_public_standard_path(@public_standard), method: :post, title: t('.copy') do
    %i.icon-share
.squiggly-border
%h3= t('.content')
%p.lead= raw @public_standard.content
